.ContactMe
    position: relative

.ContactMe-heading
    height: fit-content
    font-family: 'Bellefair', serif
    text-transform: uppercase
    display: block
    @media screen and (min-width: 0px)
        font-size: 52px  
    @media screen and (min-width: 1024px)
        font-size: 92px 
    color: #281b0e
    text-shadow: 0 8px 9px #ff0202, 0px -2px 1px #fff
    font-weight: bold
    letter-spacing: -4px
    text-align: center
    background: linear-gradient(to bottom, #ece4d9 0%, #e9dfd1 100%)
    -webkit-background-clip: text
    background-clip: text
    position: absolute
    top: 40% 
    left: 50% 
    transform: translate(-50%, -50%)
    border-radius: 20px
    white-space: nowrap
    transition: 1s

.ContactMe-scroll-effect
    top: 2% 
    @media screen and (min-width: 0px)
        left: 25% 
        font-size: 32px 
    @media screen and (min-width: 1024px)
        left: 13%
        font-size: 52px 

.ContactMe-container
  display: flex
  width: 80%
  height: 80%
  margin-top: 3%
  padding: 3em
  border-radius: 20px
  border-top: 1px solid #fbfbfb
  backdrop-filter: blur(10px)
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2)
  text-align: center
  transition: all 0.2s ease-in-out
  position: absolute
  top: 10%
  left: -77%

.Map-container
  flex-basis: 40%
  // flex: 1
  height: 100%
//   border-left: 1px solid #fbfbfb

.show-ContactMe-container
  left: 10%
  transition: 1s


.circle
  width: 10px
  height: 10px
  border-radius: 50%
  position: absolute
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7)

.one
  animation: circle 3s 2s infinite linear
  background-color: rgba(255, 0, 0, 0.5)

.two
  animation: circle 3s 1s infinite linear
  background-color: rgba(255, 0, 0, 0.5)

.three
  animation: circle 3s 0s infinite linear
  background-color: rgba(255, 0, 0, 0.5)

@keyframes circle
  from
    transform: scale(0)
    opacity: 1

  to
    transform: scale(8)
    opacity: 0
  
.contact-box
  flex-basis: 60%
  background: rgba(0,0,0,.5)
  box-shadow: 0 15px 25px rgba(0,0,0,.6)

h2
  font-size: xxx-large
  color: #ff00009c
  font-family: emoji


