.Projects
    position: relative

.Projects-heading
    height: fit-content
    font-family: 'Bellefair', serif
    text-transform: uppercase
    display: block
    @media screen and (min-width: 0px)
        font-size: 52px  
    @media screen and (min-width: 1024px)
        font-size: 92px 
    color: #281b0e
    text-shadow: 0 8px 9px #00ccff, 0px -2px 1px #fff
    font-weight: bold
    letter-spacing: -4px
    text-align: center
    background: linear-gradient(to bottom, #ece4d9 0%, #e9dfd1 100%)
    -webkit-background-clip: text
    background-clip: text
    position: absolute
    top: 40% 
    left: 50% 
    transform: translate(-50%, -50%)
    border-radius: 20px
    white-space: nowrap
    transition: 1s

.Projects-scroll-effect
    top: 2% 
    @media screen and (min-width: 0px)
        left: 20% 
        font-size: 32px 
    @media screen and (min-width: 1024px)
        left: 10%
        font-size: 52px 

.projects-container
  display: flex
  width: 80%
  height: 80%
  margin-top: 3%
  padding: 3em
  border-radius: 20px
  border-top: 1px solid #fbfbfb
  backdrop-filter: blur(10px)
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2)
  text-align: center
  transition: all 0.2s ease-in-out
  position: absolute
  top: 10%
  left: -77% //will be 10%

.show-projects-container
  left: 10%
  transition: 1s

.model-container
  flex: 1
  height: 50%
  width: fit-content !important
  position: relative

canvas
  height: 100% !important
  position: absolute
  top: 20%
  right: 0

.projects-description
  font-family: 'Merriweather', monospace
  color: cadetblue
  font-size: larger

.slide-right
  animation: 3s slide-right

@keyframes slide-right
  from
    margin-left: -100%

  to
    margin-left: 0%

.slide-left
  animation: 3s slide-left

@keyframes slide-left
  from
    margin-left: 100%

  to
    margin-left: 0%



